<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:include="layout :: head" />
	<script src="/webjars/sockjs-client/1.0.2/sockjs.js"></script>
	<script src="/webjars/stomp-websocket/2.3.3/stomp.js"></script>
	<script src="/webjars/d3js/3.5.16/d3.js"></script>
    <script src="/js/graph.js"></script>
       <script src="/js/button.js"></script>
    <link href="/css/button.css" type="text/css" rel="stylesheet"/>
</head>      
<body>
	<noscript>
		<h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being enabled. Please enable
	    Javascript and reload this page!</h2>
	</noscript>
	<div style="text-align:center;"><h2 >iot 데모 페이지</h2><br/></div>
	<div style="visibility: hidden; height:0px">
        <button id="connect" type="button" class="btn btn-lg btn-primary">Connect</button>
    </div>
	<div  id="conversationDiv">
 		
        <div style="float: left; width: 40%;">
        <h4>온도/조도/소음 그래프</h4>
        <div id="graph">
        </div>
        </div>
        
      <h1>BCCEI IoLab PLUG ON/OFF</h1>
  <div class="switch switchLightOff">
    <div class="hole holeLightOff">
      <div class="handle handleLightOff">
        <p>I<br /><span class="sk">O</span></p>
        <div class="handleTop handleTopLightOff"></div>
        <div class="handleBottom handleBottomLightOff"></div>
      </div>
    </div>
  </div>
      
        <div>
        	<ul><br/>
        		<li><span style="color: #ff0000">온도</span> (0.1x)</li><br/>
        		<li><span style="color: #0000ff">마그네틱</span> (0.1x)</li>
        		<li><span style="color: #50d598">습도</span> (0.1x)</li>   		
        	</ul>
        </div>
        <br/>
        <h4> 데이터 로그 콘솔</h4>
        <div style="margin:20px;overflow-y:scroll;height:150px;background:black;color:white;" id="response"></div>
    </div>
    
</body>
</html>