<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />

<title>Angel-in-us Coffee</title>

<!-- Bootstrap Core CSS -->
<link href="/css/bootstrap.css" rel="stylesheet" />

<!-- Custom CSS -->
<link href="/css/inquery.css" rel="stylesheet" />

<!-- Custom Fonts -->
<link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet"
	type="text/css" />

<!-- jQuery -->
<script src="/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>

<!-- Custom JS -->
<script src="/js/INQ0001.js"></script>
</head>
<body>
	<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-logo" href="main"> <img
					src="/images/angel_logo.png" />
				</a> <a href="map"> <span class="glyphicon">&#xe062;</span>
				</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->

			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="map3"><span>현재 매장</span></a></li>
					<li><a href="map"><span>매장 찾기</span></a></li>
					<li><a href="inquery"><span>건의사항</span></a></li>
					<li><a href="coupon"><span>쿠폰함</span></a></li>
					<li><a href="event"><span>이벤트</span></a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>

	<!-- Page container -->
	<div class="container"
		style="background-color: rgb(250, 250, 250); margin-top: 50px">
		<div class="inquery_title">내가 문의한 내용들</div>
		<hr/>

		<div id="inquery">
			<div id="inquery_title">
				<span id="store_name">롯데센터가산</span> <span id="reg_date">2017-08-01
					14:20</span>
			</div>
			<div id="inquery_message">
				<p id="message">너무 추워요. 에어컨좀 꺼주세요.</p>
			</div>
		</div>
	</div>
	<!-- /.container -->

	<!-- Footer -->
	<div class="container">
		<footer>
			<div class="row">
				<div class="col-lg-12">
					<p>&copy; ANGELINUS.COM</p>
				</div>
			</div>
		</footer>
	</div>
	<!-- /.footer -->
</body>
</html>
