<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
	<meta name="format-detection" content="telephone=no" />
	<link rel="stylesheet" type="text/css" href="/css/common.css" />
	<link rel="stylesheet" type="text/css" href="/css/login.css" />
	<script src="/webjars/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript" src="/js/LGN0001.js"></script>
	<title>Angel-in-us Coffee</title>
</head>
<body>	<!-- Tablet 의 경우 t 클래스 추가 -->
  <div>
    <div id="top">
      <img src="/images/angel.png" width="80%"></img>
      <img src="/images/angel_character.png" width="50%"></img>
    </div>
    <div id="login">
      <input type="text" id="user_id" placeholder="아이디" />
      <input type="password" id="user_pw" placeholder="패스워드" />
      <button type="button" class="bt_login">로그인</button>
    </div>
    <div id="link">
      <a href="/join">회원 가입</a>  |  <a>아이디 찾기</a>  | <a>비밀번호 찾기</a>
    </div>
  </div>
</body>
</html>
