<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
		<th:block th:include="layout :: head" />
	
    <script src="/js/button.js"></script>
    <link href="/css/button.css" type="text/css" rel="stylesheet"/>
    
</head>      
<body>
<section id="Wrapper" class="dark">
  <h1>BCCEI IoLab PLUG ON/OFF</h1>
  <div class="switch switchLightOff">
    <div class="hole holeLightOff">
      <div class="handle handleLightOff">
        <p>I<br /><span class="sk">O</span></p>
        <div class="handleTop handleTopLightOff"></div>
        <div class="handleBottom handleBottomLightOff"></div>
      </div>
    </div>
  </div>
</section>

    
    
</body>
</html>

