@charset "UTF-8";

body {
  background-color : rgb(79, 84, 90);
}

#top{
  padding-top: 40%;
  text-align: center;
}

#login{
  padding-top: 20%;
  text-align: center;
}

#link, #link a{
  padding-top: 7%;
  text-align: center;
  color : rgb(150, 147, 150);
  font-size: 15px;
  font-weight: bold;
}

#user_id{
  border-radius : 10px;
  width : 60%;
  background-color : rgb(229, 214, 191);
}
#user_pw{
  margin-top: 10px;
  border-radius : 10px;
  width : 60%;
  background-color : rgb(229, 214, 191);
}
.bt_login{
  margin-top: 20px;
  border-radius : 10px;
  padding-top : 10px;
  padding-bottom : 10px;
  width : 60%;
  height : 30%;
  background-color : rgb(255, 212, 87);
  color : white;
  font-size: 20px;
  font-weight: bold;
}
