body {
	background-color: rgb(250, 250, 250);
}

.contents #map_canvas {
	margin-bottom: 6px;
	width: 100%;
	height: 500px;
	clear: both;
}

.map_title {
	text-align: center;
	vertical-align: middle;
	margin-top: 10px;
	padding-top: 3px;
	width: 100%;
	height: 30px;
	font-size: 15px;
}

.search_area {
	position: fixed;
	top: 120px;
	width: 100%;
	height: 50px;
	visibility: hidden;
}

.search_area>div {
	height: 100%;
}

.gm-style-mtc, .gm-fullscreen-control {
	display: none;
}

.window {
	width: 200px;
	height: 140px;
}

.window_title {
	padding-top: 20px;
	text-align: center;
	font-size: 13px;
	color: rgb(79, 84, 90);
}

.window_contents {
	height: 50px;
}

.window_contents>div:nth-child(2) {
	position: relative;
	top: -12px;
	height: 30px;
	text-align: center;
	font-size: 10px;
	color: rgb(150, 146, 150)
}

.window_contents>div:last-child {
	height: 30px;
}

.meeting {
	width: 30px;
	height: 30px;
	margin-right: 7px;
	float: left;
	background: url(/images/ico_layer_meeting.gif) no-repeat 0 0;
}

.open24 {
	width: 30px;
	height: 30px;
	margin-right: 7px;
	float: left;
	background: url(/images/ico_layer_open24.gif) no-repeat 0 0;
}

.parking {
	width: 40px;
	height: 30px;
	margin-right: 7px;
	float: left;
	background: url(/images/ico_layer_parking.gif) no-repeat 0 0;
}

.smoking {
	width: 40px;
	height: 30px;
	margin-right: 7px;
	float: left;
	background: url(/images/ico_layer_smoking.gif) no-repeat 0 0;
}

.wifi {
	width: 32px;
	height: 30px;
	float: left;
	background: url(/images/ico_layer_wifi.gif) no-repeat 0 0;
}

.store_title {
	background: url(/images/store_background.png);
	background-size: 100%;
	text-align: center;
	vertical-align: middle;
	margin-top: 20px;
	padding-top: 35px;
	width: 100%;
	height: 100px;
	text-align: center;
}

.store_name {
	font-size: 25px;
	color: rgb(250, 250, 250);
	font-weight: bold;
}

.store_congestion {
	position: absolute;
	top: 107px;
	right: 20px;
	margin-top: 3px;
	padding-top: 2px;
	width: 18%;
	height: 25px;
	font-size: 15px;
	border-radius: 15px;
}

.busy {
	background-color: rgb(211, 138, 88);
	color: white;
}

.normal {
	background-color: rgb(225, 184, 83);
	color: white;
}

.idle {
	background-color: rgb(133, 173, 106);
	color: white;
}

.store_state {
	width: 100%;
	height: 50px;
}

.store_state>thead>tr>th {
	text-align: center;
	font-size: 15px;
	color: rgb(79, 84, 90);
}

.store_state>thead>tr>th:first-child, .store_state>thead>tr>th:nth-child(2),
	.store_state>thead>tr>th:nth-child(3) {
	border-right: 0.8px solid #ddd;
}

.store_state>thead>tr>th>img {
	width: 15px;
	height: 15px;
	margin-right: 5px;
	margin-bottom: 5px;
}

.store_state>thead>tr>th>span {
	text-align: center;
	font-size: 15px;
	color: rgb(79, 84, 90);
}

.store_state>div {
	width: 50%;
	float: left;
	text-align: center;
	font-size: 16px;
	color: rgb(79, 84, 90);
}

.store_floor {
	margin-left: 2px;
	margin-right: -2px;
	line-height: inherit;
	float: left;
	width: 15%;
	height: 360px;
}

#firstFloor, #secondFloor {
	background-color: rgb(150, 146, 150);
	color: rgb(250, 250, 250);
}

#help {
	background-color: rgb(255, 212, 87);
	color: rgb(250, 250, 250);
	position: absolute;
	right: 10px;
	border-radius: 20px;
}

#help_text {
	margin-top: 100px;
}

#help_text>div>div>div:nth-child(2) {
	height: 200px;
}

.store_map {
	float: left;
	width: 85%;
	height: 360px;
	background-size: 300px 360px;
	background-repeat: no-repeat;
}

#seat1, #seat2 {
	position: absolute;
	width: 64px;
	height: 20px;
	background-size: 64px 20px;
	background-repeat: no-repeat;
}

#seat1 {
	top: 320px;
	left: 77px;
	background-image: url("/images/paired_chair_x.png");
}

#seat2 {
	top: 360px;
	left: 77px;
	background-image: url("/images/paired_chair_x.png");
}

#seat3, #seat4, #seat5, #seat6 {
	position: absolute;
	width: 65px;
	height: 65px;
	background-size: 65px 65px;
	background-repeat: no-repeat;
}

#seat3 {
	top: 290px;
	left: 155px;
}

#seat4 {
	top: 380px;
	left: 155px;
}

#seat5 {
	top: 290px;
	left: 230px;
	background-image: url("/images/squared_chair_x.png");
}

#seat6 {
	top: 380px;
	left: 230px;
	background-image: url("/images/squared_chair_x.png");
}

#seat7, #seat8, #seat9, #seat10 {
	position: absolute;
	width: 50px;
	height: 68px;
	background-size: 50px 68px;
	background-repeat: no-repeat;
}

#seat7 {
	top: 280px;
	left: 160px;
	background-image: url("/images/squared_chair2_o.png");
}

#seat8 {
	top: 360px;
	left: 160px;
	background-image: url("/images/squared_chair2_x.png");
}

#seat9 {
	top: 280px;
	left: 230px;
	background-image: url("/images/squared_chair2_x.png");
}

#seat10 {
	top: 360px;
	left: 230px;
	background-image: url("/images/squared_chair2_o.png");
}

#seat11, #seat12 {
	position: absolute;
	width: 68px;
	height: 50px;
	background-size: 68px 50px;
	background-repeat: no-repeat;
}

#seat11 {
	top: 440px;
	left: 80px;
	background-image: url("/images/squared_chair3_o.png");
}

#seat12 {
	top: 510px;
	left: 80px;
	background-image: url("/images/squared_chair3_x.png");
}

#noise1, #noise2, #noise3 {
	position: absolute;
	width: 150px;
	height: 150px;
	border-radius: 75px;
	background-size: 150px 150px;
	background-repeat: no-repeat;
}

#noise1 {
	top: 165px;
	left: 52px;
}

#noise2 {
	top: 150px;
	left: 180px;
}

#noise3 {
	top: 265px;
	left: 185px;
}

.high {
	background-color: rgb(248, 167, 171);
}

.middle {
	background-color: rgb(255, 200, 145);
}

.low {
	background-color: rgb(160, 226, 170);
}

.store_inquery {
	text-align: center;
	width: 100%;
	height: 40px;
}

.store_info {
	background:url(/images/info.png);
	background-size:330px 180px;
	width: 100%;
	height: 200px;
}

.info_box {
	border: 1px solid;
	width: 20px;
	height: 20px;
}

.info_contents {
	float: left;
	font-size: 15px;
}

.empty {
	background-color: white;
}

.full {
	background-color: rgb(79, 79, 79);
}

#inquery {
	height: 40px;
	font-size: 17px;
	background-color: rgb(79, 84, 90);
	color: white;
}